  span {
    border: 5px solid #5eb9ff;
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    color: #4727ff;
  }  
    
  p {
      font-size: 60px
  }

  h2 {
      font-size: 70px !important;
      color: orange;
  }